<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mvc.mapper.QueryInfoMapper">

	<sql id="mt564_column_a">
		a. info_id as a_info_id ,
		a. page_num as a_field28_page_num ,
		a. corp as a_fieldset20_corp ,
		a. seme as a_fieldset20_seme ,
		a. coaf as a_fieldset20_coaf ,
		a. msg_fun as a_field23_msg_fun ,
		a. caep as a_fieldset22_caep ,
		a. caev as a_fieldset22_caev ,
		a. camv as a_fieldset22_camv ,
		a. prep_dt as a_field98_prep_dt ,
		a. status as a_field25_status ,
		a1. a1_info_id as a1_info_id ,
		a1. link_type as a1_field22_link_type ,
		a1. link_msg as a1_field13_link_msg ,
		a1. msg_ref as a1_field20_msg_ref
	</sql>
	<sql id="mt564_column_b">
		,b. usecu_id as b_usecu_id ,
		b. iden_sec as b_field35_iden_sec ,
		b. isin_nm as b_isin_nm ,
		b. common_code_nm as b_common_code_nm,
		b1. b1_usecu_id as b1_usecu_id ,
		b1. plis as b1_field94_plis ,
		b1. mico as b1_field22_mico ,
		b1. clas as b1_fieldset12_clas ,
		b1. opst as b1_fieldset12_opst ,
		b1. deno as b1_field11_deno ,
		b1. coup as b1_fieldset98_coup ,
		b1. expi as b1_fieldset98_expi ,
		b1. frnr as b1_fieldset98_frnr ,
		b1. matu as b1_fieldset98_matu ,
		b1. issu as b1_fieldset98_issu ,
		b1. cald as b1_fieldset98_cald ,
		b1. putt as b1_fieldset98_putt ,
		b1. ddte as b1_fieldset98_ddte ,
		b1. conv as b1_fieldset98_conv ,
		b1. prfc as b1_fieldset92_prfc ,
		b1. nwfc as b1_fieldset92_nwfc ,
		b1. intr as b1_fieldset92_intr ,
		b1. nxrt as b1_fieldset92_nxrt ,
		b1. decl as b1_fieldset92_decl ,
		b1. wapa as b1_fieldset92_wapa ,
		b1. mino as b1_fieldset36_mino ,
		b1. f36_size as b1_fieldset36_size,
		b2. b2_usecu_id as b2_usecu_id ,
		b2. acow as b2_field95_acow ,
		b2. safe_account as b2_field97_safe_account ,
		b2. safe_place as b2_field94_safe_account ,
		b2. elig as b2_fieldset93_elig ,
		b2. blok as b2_fieldset93_blok ,
		b2. borr as b2_fieldset93_borr ,
		b2. coli as b2_fieldset93_coli ,
		b2. colo as b2_fieldset93_colo ,
		b2. loan as b2_fieldset93_loan ,
		b2. pend as b2_fieldset93_pend ,
		b2. penr as b2_fieldset93_penr ,
		b2. rego as b2_fieldset93_rego ,
		b2. sett as b2_fieldset93_sett ,
		b2. spos as b2_fieldset93_spos ,
		b2. trad as b2_fieldset93_trad ,
		b2. f93_tran as b2_fieldset93_tran ,
		b2. nomi as b2_fieldset93_nomi ,
		b2. unba as b2_fieldset93_unba ,
		b2. inba as b2_fieldset93_inba ,
		b2. obal as b2_fieldset93_obal ,
		b2. affb as b2_fieldset93_affb ,
		b2. unaf as b2_fieldset93_unaf
	</sql>
	<sql id="mt564_column_c">
		,c. interm_sec_id as c_interm_sec_id ,
		c. iden_sec as c_field35_iden_sec ,
		c. qint as c_field36_iden_sec ,
		c. inba as c_fieldset93_inba ,
		c. unba as c_fieldset93_unba ,
		c. disf as c_fieldset22_disf ,
		c. sell as c_fieldset22_sell ,
		c. rtun as c_field92_rtun ,
		c. mrkt as c_field90_mrkt ,
		c. expi as c_fieldset98_expi ,
		c. post as c_fieldset98_post ,
		c. trdp as c_field69_trdp
	</sql>
	<sql id="mt564_column_d">
		,d. detail_id as d_detail_id ,
		d. anou as d_fieldset98_anou ,
		d. f98_cert as d_fieldset98_cert ,
		d. xdte as d_fieldset98_xdte ,
		d. effd as d_fieldset98_effd ,
		d. fdat as d_fieldset98_fdat ,
		d. prod as d_fieldset98_prod ,
		d. regi as d_fieldset98_regi ,
		d. resu as d_fieldset98_resu ,
		d. splt as d_fieldset98_splt ,
		d. f98_meet as d_fieldset98_f98_meet ,
		d. rdte as d_fieldset98_rdte ,
		d. taxb as d_fieldset98_taxb ,
		d. tsdt as d_fieldset98_tsdt ,
		d. f98_loto as d_fieldset98_loto ,
		d. unco as d_fieldset98_unco ,
		d. wuco as d_fieldset98_wuco ,
		d. f98_met2 as d_fieldset98_met2 ,
		d. f98_met3 as d_fieldset98_met3 ,
		d. equl as d_fieldset98_equl ,
		d. ecdt as d_fieldset98_ecdt ,
		d. ifix as d_fieldset98_ifix ,
		d. mfix as d_fieldset98_mfix ,
		d. coap as d_fieldset98_coap ,
		d. matu as d_fieldset98_matu ,
		d. oapd as d_fieldset98_oapd ,
		d. sxdt as d_fieldset98_sxdt ,
		d. gupa as d_fieldset98_gupa ,
		d. ecpd as d_fieldset98_ecpd ,
		d. lapd as d_fieldset98_lapd ,
		d. mctd as d_fieldset98_mctd ,
		d. payd as d_fieldset98_payd ,
		d. tpdt as d_fieldset98_tpdt ,
		d. etpd as d_fieldset98_etpd ,
		d. pldt as d_fieldset98_pldt ,
		d. fill as d_fieldset98_fill ,
		d. hear as d_fieldset98_hear ,
		d. ecrd as d_fieldset98_ecrd ,
		d. pric as d_fieldset69_pric ,
		d. inpe as d_fieldset69_inpe ,
		d. cspd as d_fieldset69_cspd ,
		d. blok as d_fieldset69_blok ,
		d. clcp as d_fieldset69_clcp ,
		d. dswn as d_fieldset69_dswn ,
		d. dsde as d_fieldset69_dsde ,
		d. dsbt as d_fieldset69_dsbt ,
		d. dsda as d_fieldset69_dsda ,
		d. dswa as d_fieldset69_dswa ,
		d. dspl as d_fieldset69_dspl ,
		d. dsse as d_fieldset69_dsse ,
		d. dsws as d_fieldset69_dsws ,
		d. bocl as d_fieldset69_bocl ,
		d. cods as d_fieldset69_cods ,
		d. splp as d_fieldset69_splp ,
		d. daac as d_field99_daac ,
		d. rdis as d_fieldset92_rdis ,
		d. intr as d_fieldset92_intr ,
		d. bidi as d_fieldset92_bidi ,
		d. nwfc as d_fieldset92_nwfc ,
		d. ptsc as d_fieldset92_ptsc ,
		d. prfc as d_fieldset92_prfc ,
		d. rinr as d_fieldset92_rinr ,
		d. rspr as d_fieldset92_rspr ,
		d. shrt as d_fieldset92_shrt ,
		d. rlos as d_fieldset92_rlos ,
		d. devi as d_fieldset92_devi ,
		d. maxp as d_fieldset90_maxp ,
		d. minp as d_fieldset90_minp ,
		d. mqso as d_fieldset36_mqso ,
		d. qtso as d_fieldset36_qtso ,
		d. nblt as d_fieldset36_nblt ,
		d. newd as d_fieldset36_newd ,
		d. base as d_fieldset36_base ,
		d. incr as d_fieldset36_incr ,
		d. coup as d_field13_coup ,
		d. f17_cert as d_fieldset17_cert ,
		d. rchg as d_fieldset17_rchg ,
		d. comp as d_fieldset17_comp ,
		d. acin as d_fieldset17_acin ,
		d. leog as d_fieldset17_leog ,
		d. divi as d_fieldset22_divi ,
		d. conv as d_fieldset22_conv ,
		d. dity as d_fieldset22_dity ,
		d. offe as d_fieldset22_offe ,
		d. sell as d_fieldset22_sell ,
		d. esta as d_fieldset22_esta ,
		d. addb as d_fieldset22_addb ,
		d. chan as d_fieldset22_chan ,
		d. rhdi as d_fieldset22_rhdi ,
		d. ecio as d_fieldset22_ecio ,
		d. tdta as d_fieldset22_tdta ,
		d. elct as d_fieldset22_elct ,
		d. f22_loto as d_fieldset22_loto ,
		d. cefi as d_fieldset22_cefi ,
		d. cons as d_fieldset22_cons ,
		d. info as d_fieldset22_info ,
		d. f94_meet as d_fieldset94_meet ,
		d. f94_met2 as d_fieldset94_met2 ,
		d. f94_met3 as d_fieldset94_met3 ,
		d. npli as d_fieldset94_npli ,
		d. offo as d_fieldset70_offo ,
		d. webb as d_fieldset70_webb ,
		d. name as d_fieldset70_name
	</sql>

	<sql id="mt564_column_e">
		,e. caoptn_id as e_caoptn_id ,
		e. caon as e_field13_caon ,
		e. caop as e_fieldset22_caop ,
		e. disf as e_fieldset22_disf ,
		e. offe as e_fieldset22_daac ,
		e. optf as e_fieldset22_optf ,
		e. osta as e_fieldset22_osta ,
		e. f22_ceti as e_fieldset22_ceti ,
		e. ndom as e_fieldset94_ndom ,
		e. domi as e_fieldset94_domi ,
		e. optn as e_field11_optn ,
		e. dflt_stin as e_fieldset17_dflt_stin ,
		e. rchg as e_fieldset17_rchg ,
		e. cert as e_fieldset17_cert ,
		e. wthd as e_fieldset17_wthd ,
		e. chan as e_fieldset17_chan ,
		e. apli as e_fieldset17_apli ,
		e. iden_sec as e_field35_iden_sec ,
		e. dvcp as e_fieldset98_dvcp ,
		e. eard as e_fieldset98_eard ,
		e. expi as e_fieldset98_expi ,
		e. mkdt as e_fieldset98_mkdt ,
		e. podt as e_fieldset98_podt ,
		e. subs as e_fieldset98_subs ,
		e. rddt as e_fieldset98_rddt ,
		e. cvpr as e_fieldset98_cvpr ,
		e. bord as e_fieldset98_bord ,
		e. pric as e_fieldset69_pric ,
		e. revo as e_fieldset69_revo ,
		e. pwal as e_fieldset69_pwal ,
		e. parl as e_fieldset69_parl ,
		e. susp as e_fieldset69_susp ,
		e. arev as e_fieldset69_arev ,
		e. dswo as e_fieldset69_dswo ,
		e. grss as e_fieldset92_grss ,
		e. taxr as e_fieldset92_taxr ,
		e. atax as e_fieldset92_atax ,
		e. indx as e_fieldset92_indx ,
		e. ovep as e_fieldset92_ovep ,
		e. pror as e_fieldset92_pror ,
		e. intp as e_fieldset92_intp ,
		e. tdmt as e_fieldset92_tdmt ,
		e. nett as e_fieldset92_nett ,
		e. idfx as e_fieldset92_idfx ,
		e. txin as e_fieldset92_txin ,
		e. witl as e_fieldset92_witl ,
		e. cinl as e_fieldset90_cinl ,
		e. osub as e_fieldset90_osub ,
		e. maex as e_fieldset36_maex ,
		e. miex as e_fieldset36_miex ,
		e. milt as e_fieldset36_milt ,
		e. nblt as e_fieldset36_nblt ,
		e. newd as e_fieldset36_newd ,
		e. bolq as e_fieldset36_bolq ,
		e. folq as e_fieldset36_folq ,
		e. adtx as e_fieldset70_adtx ,
		e. f70_ceti as e_fieldset70_ceti ,
		e. comp as e_fieldset70_comp ,
		e. disc as e_fieldset70_disc ,
		e. inco as e_fieldset70_inco ,
		e. nser as e_fieldset70_nser ,
		e. taxe as e_fieldset70_taxe ,
		e. txnr as e_fieldset70_txnr ,
		e1. e1_caoptn_id as e1_caoptn_id ,
		e1. crdb as e1_fieldset22_crdb ,
		e1. f22_temp as e1_fieldset22_temp ,
		e1. nelp as e1_fieldset22_nelp ,
		e1. txap as e1_fieldset22_txap ,
		e1. nsis as e1_fieldset22_nsis ,
		e1. ityp as e1_fieldset22_ityp ,
		e1. etyp as e1_fieldset22_etyp ,
		e1. iden_sec as e1_field35_iden_sec ,
		e1. entl as e1_field36_entl ,
		e1. f94_safe as e1_fieldset94_safe ,
		e1. coin as e1_fieldset94_coin ,
		e1. disf as e1_field22_disf ,
		e1. optn as e1_field11_optn ,
		e1. trdp as e1_field69_trdp ,
		e1. indc_mrkt as e1_fieldset90_mrkt ,
		e1. cinl as e1_fieldset90_cinl ,
		e1. offr as e1_fieldset90_offr ,
		e1. prpp as e1_fieldset90_prpp ,
		e1. cava as e1_fieldset90_cava ,
		e1. adex as e1_fieldset92_adex ,
		e1. newo as e1_fieldset92_newo ,
		e1. adsr as e1_fieldset92_adsr ,
		e1. trat as e1_fieldset92_trat ,
		e1. f92_char as e1_fieldset92_char ,
		e1. fisc as e1_fieldset92_fisc ,
		e1. rate as e1_fieldset92_rate ,
		e1. taxc as e1_fieldset92_taxc ,
		e1. trax as e1_fieldset92_trax ,
		e1. payd as e1_fieldset98_payd ,
		e1. aval as e1_fieldset98_aval ,
		e1. divr as e1_fieldset98_divr ,
		e1. earl as e1_fieldset98_earl ,
		e1. ppdt as e1_fieldset98_ppdt ,
		e1. ltrd as e1_fieldset98_ltrd ,
		e1a. e1a_caoptn_id as e1a_caoptn_id ,
		e1a. plis as e1a_field94_plis ,
		e1a. mico as e1a_field22_mico ,
		e1a. clas as e1a_fieldset12_clas ,
		e1a. opst as e1a_fieldset12_opst ,
		e1a. deno as e1a_field11_deno ,
		e1a. coup as e1a_fieldset98_coup ,
		e1a. frnr as e1a_fieldset98_frnr ,
		e1a. matu as e1a_fieldset98_matu ,
		e1a. f98_issu as e1a_fieldset98_issu ,
		e1a. cald as e1a_fieldset98_cald ,
		e1a. putt as e1a_fieldset98_putt ,
		e1a. ddte as e1a_fieldset98_ddte ,
		e1a. conv as e1a_fieldset98_conv ,
		e1a. f90_issu as e1a_field90_issu ,
		e1a. prfc as e1a_fieldset92_prfc ,
		e1a. nwfc as e1a_fieldset92_nwfc ,
		e1a. intr as e1a_fieldset92_intr ,
		e1a. nxrt as e1a_fieldset92_nxrt ,
		e1a. mino as e1a_fieldset36_mino ,
		e1a. miex as e1a_fieldset36_miex ,
		e1a. milt as e1a_fieldset36_milt ,
		e1a. f36_size as e1a_fieldset36_size ,
		e2. e2_caoptn_id as e2_caoptn_id ,
		e2. crdb as e2_fieldset22_crdb ,
		e2. cont as e2_fieldset22_cont ,
		e2. nelp as e2_fieldset22_nelp ,
		e2. ityp as e2_fieldset22_ityp ,
		e2. txap as e2_fieldset22_txap ,
		e2. etyp as e2_fieldset22_etyp ,
		e2. coin as e2_field94_coin ,
		e2. cash as e2_field97_cash ,
		e2. entl as e2_fieldset19_entl ,
		e2. resu as e2_fieldset19_resu ,
		e2. ocmt as e2_fieldset19_ocmt ,
		e2. capg as e2_fieldset19_capg ,
		e2. indm as e2_fieldset19_indm ,
		e2. cinl as e2_fieldset19_cinl ,
		e2. f19_char as e2_fieldset19_char ,
		e2. f19_flfr as e2_fieldset19_flfr ,
		e2. unfr as e2_fieldset19_unfr ,
		e2. txfr as e2_fieldset19_txfr ,
		e2. txdf as e2_fieldset19_txdf ,
		e2. soic as e2_fieldset19_soic ,
		e2. f19_grss as e2_fieldset19_rss ,
		e2. intr as e2_fieldset19_intr ,
		e2. mktc as e2_fieldset19_mktc ,
		e2. f19_nett as e2_fieldset19_nett ,
		e2. prin as e2_fieldset19_prin ,
		e2. rein as e2_fieldset19_rein ,
		e2. f19_taxc as e2_fieldset19_taxc ,
		e2. f19_taxr as e2_fieldset19_taxr ,
		e2. f19_witl as e2_fieldset19_witl ,
		e2. redp as e2_fieldset19_redp ,
		e2. f19_atax as e2_fieldset19_atax ,
		e2. inco as e2_fieldset19_inco ,
		e2. f19_exec as e2_fieldset19_exec ,
		e2. loco as e2_fieldset19_loco ,
		e2. pamm as e2_fieldset19_pamm ,
		e2. regf as e2_fieldset19_regf ,
		e2. ship as e2_fieldset19_ship ,
		e2. f19_sofe as e2_fieldset19_sofe ,
		e2. stam as e2_fieldset19_stam ,
		e2. stex as e2_fieldset19_stex ,
		e2. vata as e2_fieldset19_vata ,
		e2. f19_fisc as e2_fieldset19_fisc ,
		e2. mfdv as e2_fieldset19_mfdv ,
		e2. f19_txrc as e2_fieldset19_txrc ,
		e2. eutr as e2_fieldset19_eutr ,
		e2. acru as e2_fieldset19_acru ,
		e2. f19_equl as e2_fieldset19_equl ,
		e2. ftca as e2_fieldset19_ftca ,
		e2. nrat as e2_fieldset19_nrat ,
		e2. bwit as e2_fieldset19_bwit ,
		e2. f19_txin as e2_fieldset19_txin ,
		e2. trax as e2_fieldset19_trax ,
		e2. payd as e2_fieldset98_payd ,
		e2. valu as e2_fieldset98_valu ,
		e2. earl as e2_fieldset98_earl ,
		e2. fxdt as e2_fieldset98_fxdt ,
		e2. f92_atax as e2_fieldset92_atax ,
		e2. f92_char as e2_fieldset92_char ,
		e2. f92_equl as e2_fieldset92_equl ,
		e2. esof as e2_fieldset92_esof ,
		e2. f92_flfr as e2_fieldset92_flfr ,
		e2. f92_fisc as e2_fieldset92_fisc ,
		e2. f92_grss as e2_fieldset92_grss ,
		e2. exch as e2_fieldset92_exch ,
		e2. ince as e2_fieldset92_ince ,
		e2. intp as e2_fieldset92_intp ,
		e2. f92_nett as e2_fieldset92_nett ,
		e2. nres as e2_fieldset92_nres ,
		e2. rate as e2_fieldset92_rate ,
		e2. f92_sofe as e2_fieldset92_sofe ,
		e2. f92_taxc as e2_fieldset92_taxc ,
		e2. f92_taxr as e2_fieldset92_taxr ,
		e2. f92_txin as e2_fieldset92_txin ,
		e2. txpr as e2_fieldset92_txpr ,
		e2. f92_txrc as e2_fieldset92_txrc ,
		e2. f92_witl as e2_fieldset92_witl ,
		e2. offr as e2_fieldset90_offr ,
		e2. prpp as e2_fieldset90_prpp
	</sql>

	<sql id="mt564_column_f">
		,f. addinfo_id as f_addinfo_id ,
		f. adtx as f_fieldset70_adtx ,
		f. txnr as f_fieldset70_txnr ,
		f. regi as f_fieldset70_regi ,
		f. inco as f_fieldset70_inco ,
		f. comp as f_fieldset70_comp ,
		f. paco as f_fieldset70_paco ,
		f. taxe as f_fieldset70_taxe ,
		f. disc as f_fieldset70_disc ,
		f. bain as f_fieldset70_bain ,
		f. ceti as f_fieldset70_ceti ,
		f. meor as f_fieldset95_meor ,
		f. mere as f_fieldset95_mere ,
		f. isag as f_fieldset95_isag ,
		f. paya as f_fieldset95_paya ,
		f. codo as f_fieldset95_codo ,
		f. regr as f_fieldset95_regr ,
		f. f95_drop as f_fieldset95_drop ,
		f. psag as f_fieldset95_psag ,
		f. resa as f_fieldset95_resa ,
		f. sola as f_fieldset95_sola ,
		f. infa as f_fieldset95_infa
	</sql>


	<select id="queryInfo" parameterType="java.util.Map" resultType="java.util.Map">
		select
		a. info_id as a_info_id ,
		a. page_num as a_field28_page_num ,
		a. corp as a_fieldset20_corp ,
		a. seme as a_fieldset20_seme ,
		a. coaf as a_fieldset20_coaf ,
		a. msg_fun as a_field23_msg_fun ,
		a. caep as a_fieldset22_caep ,
		a. caev as a_fieldset22_caev ,
		a. camv as a_fieldset22_camv ,
		a. prep_dt as a_field98_prep_dt ,
		a. status as a_field25_status ,


		a1. a1_info_id as a1_info_id ,
		a1. link_type as a1_field22_link_type ,
		a1. link_msg as a1_field13_link_msg ,
		a1. msg_ref as a1_field20_msg_ref ,

		b. usecu_id as b_usecu_id ,
		b. iden_sec as b_field35_iden_sec ,
		b. isin_nm as b_isin_nm ,
		b. common_code_nm as b_common_code_nm ,

		b1. b1_usecu_id as b1_usecu_id ,
		b1. plis as b1_field94_plis ,
		b1. mico as b1_field22_mico ,
		b1. clas as b1_fieldset12_clas ,
		b1. opst as b1_fieldset12_opst ,
		b1. deno as b1_field11_deno ,
		b1. coup as b1_fieldset98_coup ,
		b1. expi as b1_fieldset98_expi ,
		b1. frnr as b1_fieldset98_frnr ,
		b1. matu as b1_fieldset98_matu ,
		b1. issu as b1_fieldset98_issu ,
		b1. cald as b1_fieldset98_cald ,
		b1. putt as b1_fieldset98_putt ,
		b1. ddte as b1_fieldset98_ddte ,
		b1. conv as b1_fieldset98_conv ,
		b1. prfc as b1_fieldset92_prfc ,
		b1. nwfc as b1_fieldset92_nwfc ,
		b1. intr as b1_fieldset92_intr ,
		b1. nxrt as b1_fieldset92_nxrt ,
		b1. decl as b1_fieldset92_decl ,
		b1. wapa as b1_fieldset92_wapa ,
		b1. mino as b1_fieldset36_mino ,
		b1. f36_size as b1_fieldset36_size ,

		b2. b2_usecu_id as b2_usecu_id ,
		b2. acow as b2_field95_acow ,
		b2. safe_account as b2_field97_safe_account ,
		b2. safe_place as b2_field94_safe_account ,
		b2. elig as b2_fieldset93_elig ,
		b2. blok as b2_fieldset93_blok ,
		b2. borr as b2_fieldset93_borr ,
		b2. coli as b2_fieldset93_coli ,
		b2. colo as b2_fieldset93_colo ,
		b2. loan as b2_fieldset93_loan ,
		b2. pend as b2_fieldset93_pend ,
		b2. penr as b2_fieldset93_penr ,
		b2. rego as b2_fieldset93_rego ,
		b2. sett as b2_fieldset93_sett ,
		b2. spos as b2_fieldset93_spos ,
		b2. trad as b2_fieldset93_trad ,
		b2. f93_tran as b2_fieldset93_tran ,
		b2. nomi as b2_fieldset93_nomi ,
		b2. unba as b2_fieldset93_unba ,
		b2. inba as b2_fieldset93_inba ,
		b2. obal as b2_fieldset93_obal ,
		b2. affb as b2_fieldset93_affb ,
		b2. unaf as b2_fieldset93_unaf ,

		c. interm_sec_id as c_interm_sec_id ,
		c. iden_sec as c_field35_iden_sec ,
		c. qint as c_field36_iden_sec ,
		c. inba as c_fieldset93_inba ,
		c. unba as c_fieldset93_unba ,
		c. disf as c_fieldset22_disf ,
		c. sell as c_fieldset22_sell ,
		c. rtun as c_field92_rtun ,
		c. mrkt as c_field90_mrkt ,
		c. expi as c_fieldset98_expi ,
		c. post as c_fieldset98_post ,
		c. trdp as c_field69_trdp ,

		d. detail_id as d_detail_id ,
		d. anou as d_fieldset98_anou ,
		d. f98_cert as d_fieldset98_cert ,
		d. xdte as d_fieldset98_xdte ,
		d. effd as d_fieldset98_effd ,
		d. fdat as d_fieldset98_fdat ,
		d. prod as d_fieldset98_prod ,
		d. regi as d_fieldset98_regi ,
		d. resu as d_fieldset98_resu ,
		d. splt as d_fieldset98_splt ,
		d. f98_meet as d_fieldset98_f98_meet ,
		d. rdte as d_fieldset98_rdte ,
		d. taxb as d_fieldset98_taxb ,
		d. tsdt as d_fieldset98_tsdt ,
		d. f98_loto as d_fieldset98_loto ,
		d. unco as d_fieldset98_unco ,
		d. wuco as d_fieldset98_wuco ,
		d. f98_met2 as d_fieldset98_met2 ,
		d. f98_met3 as d_fieldset98_met3 ,
		d. equl as d_fieldset98_equl ,
		d. ecdt as d_fieldset98_ecdt ,
		d. ifix as d_fieldset98_ifix ,
		d. mfix as d_fieldset98_mfix ,
		d. coap as d_fieldset98_coap ,
		d. matu as d_fieldset98_matu ,
		d. oapd as d_fieldset98_oapd ,
		d. sxdt as d_fieldset98_sxdt ,
		d. gupa as d_fieldset98_gupa ,
		d. ecpd as d_fieldset98_ecpd ,
		d. lapd as d_fieldset98_lapd ,
		d. mctd as d_fieldset98_mctd ,
		d. payd as d_fieldset98_payd ,
		d. tpdt as d_fieldset98_tpdt ,
		d. etpd as d_fieldset98_etpd ,
		d. pldt as d_fieldset98_pldt ,
		d. fill as d_fieldset98_fill ,
		d. hear as d_fieldset98_hear ,
		d. ecrd as d_fieldset98_ecrd ,
		d. pric as d_fieldset69_pric ,
		d. inpe as d_fieldset69_inpe ,
		d. cspd as d_fieldset69_cspd ,
		d. blok as d_fieldset69_blok ,
		d. clcp as d_fieldset69_clcp ,
		d. dswn as d_fieldset69_dswn ,
		d. dsde as d_fieldset69_dsde ,
		d. dsbt as d_fieldset69_dsbt ,
		d. dsda as d_fieldset69_dsda ,
		d. dswa as d_fieldset69_dswa ,
		d. dspl as d_fieldset69_dspl ,
		d. dsse as d_fieldset69_dsse ,
		d. dsws as d_fieldset69_dsws ,
		d. bocl as d_fieldset69_bocl ,
		d. cods as d_fieldset69_cods ,
		d. splp as d_fieldset69_splp ,
		d. daac as d_field99_daac ,
		d. rdis as d_fieldset92_rdis ,
		d. intr as d_fieldset92_intr ,
		d. bidi as d_fieldset92_bidi ,
		d. nwfc as d_fieldset92_nwfc ,
		d. ptsc as d_fieldset92_ptsc ,
		d. prfc as d_fieldset92_prfc ,
		d. rinr as d_fieldset92_rinr ,
		d. rspr as d_fieldset92_rspr ,
		d. shrt as d_fieldset92_shrt ,
		d. rlos as d_fieldset92_rlos ,
		d. devi as d_fieldset92_devi ,
		d. maxp as d_fieldset90_maxp ,
		d. minp as d_fieldset90_minp ,
		d. mqso as d_fieldset36_mqso ,
		d. qtso as d_fieldset36_qtso ,
		d. nblt as d_fieldset36_nblt ,
		d. newd as d_fieldset36_newd ,
		d. base as d_fieldset36_base ,
		d. incr as d_fieldset36_incr ,
		d. coup as d_field13_coup ,
		d. f17_cert as d_fieldset17_cert ,
		d. rchg as d_fieldset17_rchg ,
		d. comp as d_fieldset17_comp ,
		d. acin as d_fieldset17_acin ,
		d. leog as d_fieldset17_leog ,
		d. divi as d_fieldset22_divi ,
		d. conv as d_fieldset22_conv ,
		d. dity as d_fieldset22_dity ,
		d. offe as d_fieldset22_offe ,
		d. sell as d_fieldset22_sell ,
		d. esta as d_fieldset22_esta ,
		d. addb as d_fieldset22_addb ,
		d. chan as d_fieldset22_chan ,
		d. rhdi as d_fieldset22_rhdi ,
		d. ecio as d_fieldset22_ecio ,
		d. tdta as d_fieldset22_tdta ,
		d. elct as d_fieldset22_elct ,
		d. f22_loto as d_fieldset22_loto ,
		d. cefi as d_fieldset22_cefi ,
		d. cons as d_fieldset22_cons ,
		d. info as d_fieldset22_info ,
		d. f94_meet as d_fieldset94_meet ,
		d. f94_met2 as d_fieldset94_met2 ,
		d. f94_met3 as d_fieldset94_met3 ,
		d. npli as d_fieldset94_npli ,
		d. offo as d_fieldset70_offo ,
		d. webb as d_fieldset70_webb ,
		d. name as d_fieldset70_name ,

		e. caoptn_id as e_caoptn_id ,
		e. caon as e_field13_caon ,
		e. caop as e_fieldset22_caop ,
		e. disf as e_fieldset22_disf ,
		e. offe as e_fieldset22_daac ,
		e. optf as e_fieldset22_optf ,
		e. osta as e_fieldset22_osta ,
		e. f22_ceti as e_fieldset22_ceti ,
		e. ndom as e_fieldset94_ndom ,
		e. domi as e_fieldset94_domi ,
		e. optn as e_field11_optn ,
		e. dflt_stin as e_fieldset17_dflt_stin ,
		e. rchg as e_fieldset17_rchg ,
		e. cert as e_fieldset17_cert ,
		e. wthd as e_fieldset17_wthd ,
		e. chan as e_fieldset17_chan ,
		e. apli as e_fieldset17_apli ,
		e. iden_sec as e_field35_iden_sec ,
		e. dvcp as e_fieldset98_dvcp ,
		e. eard as e_fieldset98_eard ,
		e. expi as e_fieldset98_expi ,
		e. mkdt as e_fieldset98_mkdt ,
		e. podt as e_fieldset98_podt ,
		e. subs as e_fieldset98_subs ,
		e. rddt as e_fieldset98_rddt ,
		e. cvpr as e_fieldset98_cvpr ,
		e. bord as e_fieldset98_bord ,
		e. pric as e_fieldset69_pric ,
		e. revo as e_fieldset69_revo ,
		e. pwal as e_fieldset69_pwal ,
		e. parl as e_fieldset69_parl ,
		e. susp as e_fieldset69_susp ,
		e. arev as e_fieldset69_arev ,
		e. dswo as e_fieldset69_dswo ,
		e. grss as e_fieldset92_grss ,
		e. taxr as e_fieldset92_taxr ,
		e. atax as e_fieldset92_atax ,
		e. indx as e_fieldset92_indx ,
		e. ovep as e_fieldset92_ovep ,
		e. pror as e_fieldset92_pror ,
		e. intp as e_fieldset92_intp ,
		e. tdmt as e_fieldset92_tdmt ,
		e. nett as e_fieldset92_nett ,
		e. idfx as e_fieldset92_idfx ,
		e. txin as e_fieldset92_txin ,
		e. witl as e_fieldset92_witl ,
		e. cinl as e_fieldset90_cinl ,
		e. osub as e_fieldset90_osub ,
		e. maex as e_fieldset36_maex ,
		e. miex as e_fieldset36_miex ,
		e. milt as e_fieldset36_milt ,
		e. nblt as e_fieldset36_nblt ,
		e. newd as e_fieldset36_newd ,
		e. bolq as e_fieldset36_bolq ,
		e. folq as e_fieldset36_folq ,
		e. adtx as e_fieldset70_adtx ,
		e. f70_ceti as e_fieldset70_ceti ,
		e. comp as e_fieldset70_comp ,
		e. disc as e_fieldset70_disc ,
		e. inco as e_fieldset70_inco ,
		e. nser as e_fieldset70_nser ,
		e. taxe as e_fieldset70_taxe ,
		e. txnr as e_fieldset70_txnr ,

		e1. e1_caoptn_id as e1_caoptn_id ,
		e1. crdb as e1_fieldset22_crdb ,
		e1. f22_temp as e1_fieldset22_temp ,
		e1. nelp as e1_fieldset22_nelp ,
		e1. txap as e1_fieldset22_txap ,
		e1. nsis as e1_fieldset22_nsis ,
		e1. ityp as e1_fieldset22_ityp ,
		e1. etyp as e1_fieldset22_etyp ,
		e1. iden_sec as e1_field35_iden_sec ,
		e1. entl as e1_field36_entl ,
		e1. f94_safe as e1_fieldset94_safe ,
		e1. coin as e1_fieldset94_coin ,
		e1. disf as e1_field22_disf ,
		e1. optn as e1_field11_optn ,
		e1. trdp as e1_field69_trdp ,
		e1. indc_mrkt as e1_fieldset90_mrkt ,
		e1. cinl as e1_fieldset90_cinl ,
		e1. offr as e1_fieldset90_offr ,
		e1. prpp as e1_fieldset90_prpp ,
		e1. cava as e1_fieldset90_cava ,
		e1. adex as e1_fieldset92_adex ,
		e1. newo as e1_fieldset92_newo ,
		e1. adsr as e1_fieldset92_adsr ,
		e1. trat as e1_fieldset92_trat ,
		e1. f92_char as e1_fieldset92_char ,
		e1. fisc as e1_fieldset92_fisc ,
		e1. rate as e1_fieldset92_rate ,
		e1. taxc as e1_fieldset92_taxc ,
		e1. trax as e1_fieldset92_trax ,
		e1. payd as e1_fieldset98_payd ,
		e1. aval as e1_fieldset98_aval ,
		e1. divr as e1_fieldset98_divr ,
		e1. earl as e1_fieldset98_earl ,
		e1. ppdt as e1_fieldset98_ppdt ,
		e1. ltrd as e1_fieldset98_ltrd ,

		e1a. e1a_caoptn_id as e1a_caoptn_id ,
		e1a. plis as e1a_field94_plis ,
		e1a. mico as e1a_field22_mico ,
		e1a. clas as e1a_fieldset12_clas ,
		e1a. opst as e1a_fieldset12_opst ,
		e1a. deno as e1a_field11_deno ,
		e1a. coup as e1a_fieldset98_coup ,
		e1a. frnr as e1a_fieldset98_frnr ,
		e1a. matu as e1a_fieldset98_matu ,
		e1a. f98_issu as e1a_fieldset98_issu ,
		e1a. cald as e1a_fieldset98_cald ,
		e1a. putt as e1a_fieldset98_putt ,
		e1a. ddte as e1a_fieldset98_ddte ,
		e1a. conv as e1a_fieldset98_conv ,
		e1a. f90_issu as e1a_field90_issu ,
		e1a. prfc as e1a_fieldset92_prfc ,
		e1a. nwfc as e1a_fieldset92_nwfc ,
		e1a. intr as e1a_fieldset92_intr ,
		e1a. nxrt as e1a_fieldset92_nxrt ,
		e1a. mino as e1a_fieldset36_mino ,
		e1a. miex as e1a_fieldset36_miex ,
		e1a. milt as e1a_fieldset36_milt ,
		e1a. f36_size as e1a_fieldset36_size ,

		e2. e2_caoptn_id as e2_caoptn_id ,
		e2. crdb as e2_fieldset22_crdb ,
		e2. cont as e2_fieldset22_cont ,
		e2. nelp as e2_fieldset22_nelp ,
		e2. ityp as e2_fieldset22_ityp ,
		e2. txap as e2_fieldset22_txap ,
		e2. etyp as e2_fieldset22_etyp ,
		e2. coin as e2_field94_coin ,
		e2. cash as e2_field97_cash ,
		e2. entl as e2_fieldset19_entl ,
		e2. resu as e2_fieldset19_resu ,
		e2. ocmt as e2_fieldset19_ocmt ,
		e2. capg as e2_fieldset19_capg ,
		e2. indm as e2_fieldset19_indm ,
		e2. cinl as e2_fieldset19_cinl ,
		e2. f19_char as e2_fieldset19_char ,
		e2. f19_flfr as e2_fieldset19_flfr ,
		e2. unfr as e2_fieldset19_unfr ,
		e2. txfr as e2_fieldset19_txfr ,
		e2. txdf as e2_fieldset19_txdf ,
		e2. soic as e2_fieldset19_soic ,
		e2. f19_grss as e2_fieldset19_rss ,
		e2. intr as e2_fieldset19_intr ,
		e2. mktc as e2_fieldset19_mktc ,
		e2. f19_nett as e2_fieldset19_nett ,
		e2. prin as e2_fieldset19_prin ,
		e2. rein as e2_fieldset19_rein ,
		e2. f19_taxc as e2_fieldset19_taxc ,
		e2. f19_taxr as e2_fieldset19_taxr ,
		e2. f19_witl as e2_fieldset19_witl ,
		e2. redp as e2_fieldset19_redp ,
		e2. f19_atax as e2_fieldset19_atax ,
		e2. inco as e2_fieldset19_inco ,
		e2. f19_exec as e2_fieldset19_exec ,
		e2. loco as e2_fieldset19_loco ,
		e2. pamm as e2_fieldset19_pamm ,
		e2. regf as e2_fieldset19_regf ,
		e2. ship as e2_fieldset19_ship ,
		e2. f19_sofe as e2_fieldset19_sofe ,
		e2. stam as e2_fieldset19_stam ,
		e2. stex as e2_fieldset19_stex ,
		e2. vata as e2_fieldset19_vata ,
		e2. f19_fisc as e2_fieldset19_fisc ,
		e2. mfdv as e2_fieldset19_mfdv ,
		e2. f19_txrc as e2_fieldset19_txrc ,
		e2. eutr as e2_fieldset19_eutr ,
		e2. acru as e2_fieldset19_acru ,
		e2. f19_equl as e2_fieldset19_equl ,
		e2. ftca as e2_fieldset19_ftca ,
		e2. nrat as e2_fieldset19_nrat ,
		e2. bwit as e2_fieldset19_bwit ,
		e2. f19_txin as e2_fieldset19_txin ,
		e2. trax as e2_fieldset19_trax ,
		e2. payd as e2_fieldset98_payd ,
		e2. valu as e2_fieldset98_valu ,
		e2. earl as e2_fieldset98_earl ,
		e2. fxdt as e2_fieldset98_fxdt ,
		e2. f92_atax as e2_fieldset92_atax ,
		e2. f92_char as e2_fieldset92_char ,
		e2. f92_equl as e2_fieldset92_equl ,
		e2. esof as e2_fieldset92_esof ,
		e2. f92_flfr as e2_fieldset92_flfr ,
		e2. f92_fisc as e2_fieldset92_fisc ,
		e2. f92_grss as e2_fieldset92_grss ,
		e2. exch as e2_fieldset92_exch ,
		e2. ince as e2_fieldset92_ince ,
		e2. intp as e2_fieldset92_intp ,
		e2. f92_nett as e2_fieldset92_nett ,
		e2. nres as e2_fieldset92_nres ,
		e2. rate as e2_fieldset92_rate ,
		e2. f92_sofe as e2_fieldset92_sofe ,
		e2. f92_taxc as e2_fieldset92_taxc ,
		e2. f92_taxr as e2_fieldset92_taxr ,
		e2. f92_txin as e2_fieldset92_txin ,
		e2. txpr as e2_fieldset92_txpr ,
		e2. f92_txrc as e2_fieldset92_txrc ,
		e2. f92_witl as e2_fieldset92_witl ,
		e2. offr as e2_fieldset90_offr ,
		e2. prpp as e2_fieldset90_prpp ,

		f. addinfo_id as f_addinfo_id ,
		f. adtx as f_fieldset70_adtx ,
		f. txnr as f_fieldset70_txnr ,
		f. regi as f_fieldset70_regi ,
		f. inco as f_fieldset70_inco ,
		f. comp as f_fieldset70_comp ,
		f. paco as f_fieldset70_paco ,
		f. taxe as f_fieldset70_taxe ,
		f. disc as f_fieldset70_disc ,
		f. bain as f_fieldset70_bain ,
		f. ceti as f_fieldset70_ceti ,
		f. meor as f_fieldset95_meor ,
		f. mere as f_fieldset95_mere ,
		f. isag as f_fieldset95_isag ,
		f. paya as f_fieldset95_paya ,
		f. codo as f_fieldset95_codo ,
		f. regr as f_fieldset95_regr ,
		f. f95_drop as f_fieldset95_drop ,
		f. psag as f_fieldset95_psag ,
		f. resa as f_fieldset95_resa ,
		f. sola as f_fieldset95_sola ,
		f. infa as f_fieldset95_infa



		from v_gen_info a
		left join v_gen_info_a1 a1 on a1.info_id = a.info_id
		left join v_underlying_sec b on a.info_id = b.info_id
		left join v_underlying_sec_b1 b1 on b1.usecu_id = b.usecu_id
		left join v_underlying_sec_b2 b2 on b2.usecu_id = b1.b1_usecu_id
		left join v_interm_sec c on c.info_id = a.info_id
		left join v_action_detail d on d.info_id = a.info_id
		left join v_action_option e on e.info_id = a.info_id
		left join v_action_option_e1 e1 on e1.caoptn_id = e.caoptn_id
		left join v_action_option_e1a e1a on e1a.e1_caoptn_id = e1.e1_caoptn_id
		left join v_action_option_e2 e2 on e2.caoptn_id = e.caoptn_id
		left join v_add_info f on f.info_id = a.info_id
		limit #{startNo},#{pageSize}
	</select>

	<select id="queryInfoById" parameterType="java.lang.String"
		resultType="java.util.Map">
		select * from v_gen_info a
		left join v_gen_info_a1 a1 on a1.info_id = a.info_id
		left join v_underlying_sec b on a.info_id = b.info_id
		left join v_underlying_sec_b1 b1 on b1.usecu_id = b.usecu_id
		left join v_underlying_sec_b2 b2 on b2.usecu_id = b1.b1_usecu_id
		left join v_interm_sec c on c.info_id = a.info_id
		left join v_action_detail d on d.info_id = a.info_id
		left join v_action_option e on e.info_id = a.info_id
		left join v_action_option_e1 e1 on e1.caoptn_id = e.caoptn_id
		left join v_action_option_e1a e1a on e1a.e1_caoptn_id = e1.e1_caoptn_id
		left join v_action_option_e2 e2 on e2.caoptn_id = e.caoptn_id
		left join v_add_info f on f.info_id = a.info_id
		where a.info_id = #{usecu_id}

	</select>

	<select id="queryInfoByTableName" parameterType="java.util.Map"
		resultType="java.util.Map">
		select
		 
		<include refid="mt564_column_a"></include>
		
		<if test="tab != null">
			<foreach collection="tab" index="index" item="item" >
				<if test="item == 'tabB'">
					<include refid="mt564_column_b"></include>
				</if>
				<if test="item == 'tabC'">
					<include refid="mt564_column_c"></include>
				</if>
				<if test="item == 'tabD'">
					<include refid="mt564_column_d"></include>
				</if>
				<if test="item == 'tabE'">
					<include refid="mt564_column_e"></include>
				</if>
				<if test="item == 'tabF'">
					<include refid="mt564_column_f"></include>
				</if>
			</foreach>
		</if>
		<if test="tab == null">
			
			<include refid="mt564_column_b"></include>
			<include refid="mt564_column_c"></include>
			<include refid="mt564_column_d"></include>
			<include refid="mt564_column_e"></include>
			<include refid="mt564_column_f"></include>

		</if>

		from v_gen_info a
		left join v_gen_info_a1 a1 on a1.info_id = a.info_id
		left join v_underlying_sec b on a.info_id = b.info_id
		left join v_underlying_sec_b1 b1 on b1.usecu_id = b.usecu_id
		left join v_underlying_sec_b2 b2 on b2.usecu_id = b1.b1_usecu_id
		left join v_interm_sec c on c.info_id = a.info_id
		left join v_action_detail d on d.info_id = a.info_id
		left join v_action_option e on e.info_id = a.info_id
		left join v_action_option_e1 e1 on e1.caoptn_id = e.caoptn_id
		left join v_action_option_e1a e1a on e1a.e1_caoptn_id = e1.e1_caoptn_id
		left join v_action_option_e2 e2 on e2.caoptn_id = e.caoptn_id
		left join v_add_info f on f.info_id = a.info_id
		where 1=1
		
		<if test="corp != null and corp !=''">
			and a.corp = #{corp}
		</if>
		limit #{startNo},#{pageSize}
	</select>
	
	
	
	<select id="queryInfoByCorp" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select		 
		count(*)
		from v_gen_info a
		left join v_gen_info_a1 a1 on a1.info_id = a.info_id
		left join v_underlying_sec b on a.info_id = b.info_id
		left join v_underlying_sec_b1 b1 on b1.usecu_id = b.usecu_id
		left join v_underlying_sec_b2 b2 on b2.usecu_id = b1.b1_usecu_id
		left join v_interm_sec c on c.info_id = a.info_id
		left join v_action_detail d on d.info_id = a.info_id
		left join v_action_option e on e.info_id = a.info_id
		left join v_action_option_e1 e1 on e1.caoptn_id = e.caoptn_id
		left join v_action_option_e1a e1a on e1a.e1_caoptn_id = e1.e1_caoptn_id
		left join v_action_option_e2 e2 on e2.caoptn_id = e.caoptn_id
		left join v_add_info f on f.info_id = a.info_id where 1=1
		<if test="_parameter != null and _parameter !=''">
			and a.corp = #{corp}
		</if>
	</select>
</mapper>